// General sitewide classes
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: $color__light-grey;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #555;
		display: block;

		@include font-size(14);
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

// responsive rules for embeded media
// Shouldn't be needing to do this year in year out - lets have
// a  pure filter to effect the fixed site width!?

.responsive-wrap,
.wp-video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.responsive-wrap, {
	object,
	embed,
	video,
	.wp-video {
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}

.single-post {

	.wp-video {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		width: auto !important;
	}

	.mejs-video {
		height: 100% !important;
		left: 0;
		top: 0;
		position: absolute;
		width: 100% !important;
	}

	section.standalone {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25% !important;
		position: relative;
		max-width: auto !important;
		width: auto !important;

		div.media-element {
		height: 100% !important;
		left: 0;
		top: 0;
		position: absolute !important;
		width: 100% !important;
		}
	}
}
