/*==============================================================
Primary  Site layout elements

This file provides the main structuaral containers positioning.

1.0 - General body primary structural containers
	1.1 - Header
	1.2 - Content
	1.2.1 footer widgets
	1.3 - Footer
2.0 - Site Header elements
3.0 - Main Content sections
4.0 - Footer widget elements
5.0 - Footer elements
6.0 - Widgets - general
=================================================================*/
/*===============================================================
1.0 General body

Primary positiong of parent elements content, footer, sidebar etc
================================================================*/
html {
	height: 100%;
	overflow-y: scroll;
}

body:not(.customize-partial-edit-shortcuts-shown) {
	padding-top: 46px;
}

@media screen and (min-width: 46.8em) {
	body:not(.customize-partial-edit-shortcuts-shown) {
		padding-top: 32px;
	}
}

body.no-adminbar {
	padding-top: 0;
}

body {
	height: 100%;
}

#site-wrap {
	min-height: 100%;
}

#site-wrap:before,
#site-wrap:after {
	content: " ";
	display: table;
}

#site-wrap:after {
	clear: both;
}

.site-content {
	padding: 0 0.5em 4rem;
}

body.footer-widgets-active .site-content {
	padding: 0 0.5em 0.5em;
}

body.footer-widgets-active .footer-widgets-wrap {
	padding: 0.5em 0.5em 4rem;
	width: 100%;
}

.content-area,
.top-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*===============================================
1.1 - Header
=================================================*/
.top-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	background: #fafafa;
	border-bottom: 1px solid #eee;
	min-height: 100px;
	opacity: 0.9;
	padding: 0 1em;
	position: fixed;
	top: 46px;
	width: 100%;
	z-index: 500;
}

@media screen and (min-width: 46.8em) {
	.top-bar {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		-moz-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		-o-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
}

@media screen and (min-width: 46.8em) {
	.top-bar {
		top: 32px;
	}
}

.top-bar .main-navigation {
	-webkit-flex: 0 1 100%;
	-moz-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	-o-flex: 0 1 100%;
	flex: 0 1 100%;
	padding: 0;
	width: auto;
}

.top-bar .site-logo {
	-webkit-flex: 0 1 100%;
	-moz-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	-o-flex: 0 1 100%;
	flex: 0 1 100%;
}

@media screen and (min-width: 46.8em) {
	.top-bar .main-navigation {
		-webkit-flex: 0 1 40%;
		-moz-flex: 0 1 40%;
		-ms-flex: 0 1 40%;
		-o-flex: 0 1 40%;
		flex: 0 1 40%;
		padding: 0 1em;
	}
	.top-bar .site-logo {
		-webkit-flex: 0 1 60%;
		-moz-flex: 0 1 60%;
		-ms-flex: 0 1 60%;
		-o-flex: 0 1 60%;
		flex: 0 1 60%;
	}
}

.header-background {
	margin-top: 100px;
}

.site-branding {
	padding: 0.5em 1em;
}

.site-branding .site-title {
	margin-top: 0;
}

/*===============================================
1.2 - Content
=================================================*/
.site-main {
	padding-bottom: 1em;
}

@media screen and (min-width: 46.8em) {
	.content-area {
		margin: 0;
		padding: 0 0.5em 1em;
		width: 100%;
	}
	.content-area .site-main {
		margin: 0;
	}
	body.main-sidebar:not(.home-page) .content-area,
	body.post-sbar-active .content-area,
	body.page-sbar-active:not(.page-template-page-fullwidth) .content-area {
		float: left;
		margin: 0 -25% 0 0;
		padding: 0 0 0.5em 0.5em;
	}
	body.main-sidebar:not(.home-page) .content-area .site-main,
	body.post-sbar-active .content-area .site-main,
	body.page-sbar-active:not(.page-template-page-fullwidth) .content-area .site-main {
		margin: 0 25% 0 0;
		padding-right: 1em;
	}
}

/*======================================
1.2.1 - Footer widget wrap
========================================*/
.footer-widgets-wrap {
	min-height: 10rem;
}

/*===============================================
1.3 - Sidebar
=================================================*/
.site-content .widget-area {
	overflow: hidden;
	padding: 0 0.5em;
	width: auto;
}

.widget-area section > ul {
	margin-left: 0;
	padding-left: 1em;
}

@media screen and (min-width: 46.8em) {
	.site-content .widget-area {
		padding: 0 0.5em 0 1em;
		float: right;
		width: 25%;
	}
}

/*===============================================
1.4 - Footer
=================================================*/
.site-footer {
	background: #fff;
	border-top: 1px solid #333;
	height: 4rem;
	margin: -4rem auto 0;
	padding: 0.5em 1em 0;
	position: relative;
	width: auto;
	z-index: 1000;
}

.site-info {
	font-size: 14px;
	font-size: 0.875rem;
}

/*==============================================================
2.0 Site Header

Site branding region - child elements
================================================================*/
/*==============================================================
5.0 Footer

The main footer element child elements
================================================================*/
